main {
    background-color: beige;
    padding: 200px;
    margin: 200px;
}

img{
    width: 20%;
    height: 20%;
}

li{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: blue;
}

#tablazat {
    width: 100%;
    border: 1px solid;
}

#tablazat th {
    background-color: whitesmoke;
}

#tablazat .muveletek {
    white-space: nowrap;
}

.szures-aktiv {
    border: 2px solid green;
}
@media (min-width: 800px) {
    main {
        background-color: beige;
        padding: 400px;
        margin: 400px;
    }
    img{
        width: 40%;
        height: 40%;
    }
    #tablazat {
        width: 80%;
        border: 1px solid;
    }
    /*kartyak*/
    .belsoszog .active,
    .belsoszog .active + .doboz,
    .carousel-inner .active + .doboz + .doboz {
        display: block;
    }
    .belsoszog .doboz.active:not(.carousel-item-right):not(.carousel-item-left),
    .belsoszog .doboz.active:not(.carousel-item-right):not(.carousel-item-left) + .doboz,
    .belsoszog .doboz.active:not(.carousel-item-right):not(.carousel-item-left) + .doboz + .doboz {
        transition: none;
    }
    .belsoszog .kovetkezo,
    .belsoszog .elozo {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .belsoszog .active.doboz + .doboz + .doboz + .doboz {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .active.carousel-item-left + .kovetkezo.carousel-item-left,
    .kovetkezo.carousel-item-left + .doboz,
    .kovetkezo.carousel-item-left + .doboz + .doboz,
    .kovetkezo.carousel-item-left + .doboz + .doboz + .doboz {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .belsoszog .elozo.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .active.carousel-item-right + .elozo.carousel-item-right,
    .elozo.carousel-item-right + .doboz,
    .elozo.carousel-item-right + .doboz + .doboz,
    .elozo.carousel-item-right + .doboz + .doboz + .doboz {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}