
main{
    background-color: beige;
    padding: 200px;
    margin: 200px;
}

h1{
    color: gray;
}
#tablazat th{
    background-color: whitesmoke;
}
table, th, td {
    border: 1px dotted black;
}
img{
    width: 20%;
    height: 20%;
}