main {
    background-color: beige;
    padding: 200px;
    margin: 200px;
}

img{
    width: 20%;
    height: 20%;
}

#tablazat {
    width: 100%;
    border: 1px solid;
}

#tablazat th {
    background-color: whitesmoke;
}

#tablazat .muveletek {
    white-space: nowrap;
}

.szures-aktiv {
    border: 2px solid green;
}
@media (min-width: 800px) {
    main {
        background-color: beige;
        padding: 400px;
        margin: 400px;
    }
    img{
        width: 40%;
        height: 40%;
    }
    #tablazat {
        width: 80%;
        border: 1px solid;
    }
}
